nav {
	height: 80px;
	width: 100%;
	font-family: Montserrat;
}

#chs {
	color: black;
	float: right;
	font-size: 33px;
	margin-left: 30px;
	margin-top: 10px;
	font-weight: 100;
}

#graphics {
	font-weight: 400;
}

nav ul {
	float: right;
	height: 80px;
}

nav .brand-logo {
	height: 80px;
}

#logo-desktop {
	margin-left: 20px;
}

#logo-mobile {
	/* center image */
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

#logo-mobile img {
	height: 80px;
}

nav ul li {
	display: inline-block;
	margin-top: 8px;
	margin-left: 10px;
	margin-right: 10px;
}

nav ul li a {
	color: black;
	padding-right: 25px;
	padding-left: 25px;
}

nav .navitem:hover, nav .active {
	border-bottom: 8px solid black;
}

nav .button-collapse > .material-icons {
	color: #666666;
	line-height: 80px;
}
